@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
:root {
  --primary-clr : #1E1E1E; 
  --primary-clr-light : #3F3F3F;
  --secondary-clr : #21B46A; 
  --secondary-clr-dim : #08743e; 
  --white-clr : #fff; 
  --clr-text: #b2b2b2;

  --transition: all .05s ease-in-out;
}

body {
  font-family: 'Poppins';
  background-color: var(--primary-clr);
}
